body {
  background-image: url("hubbleUDF.jpg");
}
.header {
    padding: 10px;
    text-align: center;
    background: white;
    opacity: .75;
  }
.nav {
  background-color: white;
  opacity: .75;
}



